<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>club.projm.cz.baseapp.oc</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application for CZ with a base structure which use Objective-C. Such as &quot;Scenes&quot;,&quot;Services&quot;,etc.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>BootLoader/BootLoader.m</string>
						<string>BootLoader/BootLoader.h</string>
						<string>ThirdPart</string>
						<string>Utils</string>
						<string>Scenes</string>
						<string>Services</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Utils</key>
		<dict>
			<key>Path</key>
			<string>Utils</string>
		</dict>
		<key>Scenes</key>
		<dict>
			<key>Path</key>
			<string>Scenes</string>
		</dict>
		<key>Services</key>
		<dict>
			<key>Path</key>
			<string>Services</string>
		</dict>
		<key>ThirdPart</key>
		<dict>
			<key>Path</key>
			<string>ThirdPart</string>
		</dict>
		<key>BootLoader/BootLoader.h</key>
		<dict>
			<key>Path</key>
			<string>BootLoader/BootLoader.h</string>
			<key>Group</key>
			<string>BootLoader</string>
		</dict>
		<key>BootLoader/BootLoader.m</key>
		<dict>
			<key>Path</key>
			<string>BootLoader/BootLoader.m</string>
			<key>Group</key>
			<string>BootLoader</string>
		</dict>
	</dict>
</dict>
</plist>
